body {
	height:800px;
}

div {
	height:20%;
	border:5px solid white;
}

p {
	font-size:90px;
	margin:30px auto;
	width:15%;
}

div#redBox { /*click mouse onclick="redFunction()"*/
	background:red;
}

div#blueBox { /* load page onload="blueFunction()"*/
	background:blue;
}

div#greenBox { /* key stroke onmousedown="greenFunction()" onmouseup="greenFunction2()" */
	background:green;
	color:yellow;
}

div#yellowBox { /* load page, leave page onunload="yellowFunction()"*/ 
	background:yellow;
}

div#blackBox {  /* hover onmouseover="blackFunction()" onmouseout="blackFunction2()"*/
	background:black;
	color:purple;
}
